<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel = "stylesheet" href = "/css/body.css"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header>
        <picture>
            <img src = "/images/logo-mercado-liebre.svg" class="imagen1">
        </picture>

        <section>
            <form action="/" method="get">
                <label for="query">Search</label>
                <input type="text" name="q" id="query">
                <button type="submit"><i class="fa-solid fa-search"></i></button>
            </form>
        </section>

        <section>
            <p class="d1"><i class="fa-solid fa-hand-holding-dollar"></i>&nbsp; Comprá en cuotas y sin tarjeta de crédito</p>
        </section>

        <nav class="lista1">
            <li type=none><a href = "" class="lista">Ofertas</a></li>
            <li type=none><a href = "" class="lista">Tiendas Oficiales</a></li>
            <li type=none><a href = "" class="lista">Vender</a></li>
            <li type=none><a href = "" class="lista">Ayuda</a></li>
        </nav>
        <br>
        <nav class="lista1"> 
            <li type=none><a href = "/register" class="lista">Creá tu cuenta &nbsp;</a><i class="fa-solid fa-address-card"></i></li>
            <li type=none><a href = "/login" class="lista">Ingresá &nbsp;</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li type=none><a href = "" class="lista">Mis Compras &nbsp;</a><i class="fa-solid fa-basket-shopping"></i></li>
        </nav>
        <br>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <br>
        <picture class="imagen2">
            <img src = "/images/img-home-banner.jpg">
        </picture>
    </header>

    <main>
        <section class="caja0">
            <ul type="none">
                <li class="caja1">  
                    <h1 class="titulo">Basado en tu última visita</h1>  
                    <picture>
                        <img src = "/images/img-cafetera-moulinex.jpg">
                    </picture>
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </article>
                </li>

                <li class="caja1">    
                    <picture>
                        <img src = "/images/img-macbook-pro-2019.jpg">
                    </picture>
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </article>
                </li>
            
                <li class="caja1">    
                    <picture>
                        <img src = "/images/img-samsung-galaxy-s10.jpg">
                    </picture>
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </article>
                </li>
                
                <li class="caja1">    
                    <picture>
                        <img src = "/images/img-tv-samsung-smart.jpg">
                    </picture>
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion">SmartTv Samsung 43</p>
                    </article>
                </li>
            </ul>
        </section>

        <section class="caja0">
            <ul type="none">
                <li class="caja1">  
                    <h1>Sección de Oferta</h1>
                    <picture>
                        <img src = "/images/img-cafetera-moulinex.jpg">
                    </picture> 
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </article>
                </li>

                <li class="caja1">  
                    <picture>
                        <img src = "/images/img-macbook-pro-2019.jpg">
                    </picture> 
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="descripcion">MacBook Pro 2019</p> 
                    </article>
                </li> 
                        
                <li class="caja1">  
                    <picture>
                        <img src = "/images/img-samsung-galaxy-s10.jpg">
                    </picture> 
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </article>
                </li>
            
                <li class="caja1">  
                    <picture>
                        <img src = "/images/img-tv-samsung-smart.jpg">
                    </picture> 
                    <article class="caja2"> 
                        <i class="fa-solid fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                    </article>
                </li>
            </ul>      
        </section>
    </main>

    <footer>
        <section>   
            <div class="icono-footer">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h1 class="titulo-footer">Pagá con tarjeta o en efectivo</h1>  
            <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>  
            <div class="icono-footer">
                <i class="fa-solid fa-gift"></i>
            </div>  
            <h1 class ="titulo-footer">Envío gratis desde $2.500</h1>  
            <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <div class="icono-footer">
                <i class="fa-solid fa-user-shield"></i>
            </div>  
            <h1 class="titulo-footer">Seguridad, de principio a fin</h1>
            <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <br>
        <section>
            <h1 class="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>    
        </section>
    </footer>
</body>
</html>