*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:none;
}

header{
    background-color: #EAC926;
}

main{
    background-color: #ebebeb;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#nya{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#nusuario{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#email{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#fecha{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#direccion{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#imagen{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#contra{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#rcontraseña{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: #666;
    padding: 1rem;
    border-radius: 0.5rem;
}

#enviar{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: white;
    background-color: #1259c3;
    padding: 1rem;
    border-radius: 0.5rem;
}

#recetear{
    display: flex;
    height: 3rem;
    width: 30rem;
    color: white;
    background-color: #1259c3;
    padding: 1rem;
    border-radius: 0.5rem;
}

.perfil{
    padding: 1rem;
}

.intereses{
    padding: 1rem;
}

.imagen1{
    width: 50%;
}

.lista{
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.d1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.titulo-footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.texto{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.icono-footer{ 
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 10px;
}

footer .fa-solid{
    color: #1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}